body{
font-family:Arial;
margin:0;
background:#fff0f5;
}

header{
background:#c2185b;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:24px;
font-weight:bold;
cursor:pointer;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

.hero{
background:linear-gradient(to right,#ff9a9e,#fad0c4);
padding:80px;
text-align:center;
}

.cta{
background:#ff1493;
color:white;
padding:12px 25px;
border:none;
border-radius:5px;
cursor:pointer;
}

.services{
padding:60px;
text-align:center;
}

.card{
background:white;
padding:20px;
margin:20px;
display:inline-block;
width:250px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.download-btn{
background:#4CAF50;
color:white;
padding:10px 20px;
border:none;
cursor:pointer;
}

.tabs{
text-align:center;
padding:40px;
}

.tab-btn{
background:#f06292;
border:none;
padding:10px 20px;
margin:5px;
color:white;
cursor:pointer;
}

.video-section{
text-align:center;
padding:50px;
background:#ffe4ec;
}

.form-section{
padding:50px;
text-align:center;
}

input{
padding:10px;
margin:10px;
width:250px;
}

.submit{
background:#c2185b;
color:white;
padding:10px 20px;
border:none;
cursor:pointer;
}

footer{
background:#333;
color:white;
padding:30px;
text-align:center;
}

footer a{
color:#ff80ab;
margin:10px;
}
